<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umk.register">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.umk.register.app.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.umk.register.menu.settings.SelectStudentActivity"></activity>
        <activity android:name="com.umk.register.grades.GradesActivity"/>
        <activity android:name="com.umk.register.menu.settings.AboutActivity" />
        <activity android:name="com.umk.register.notes.NotesActivity" />
        <activity
            android:name="com.umk.register.schedules.ScheduleActivity"
            android:label="@string/title_activity_plan_zajec"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.umk.register.menu.ProfileActivity" />
        <activity
            android:name="com.umk.register.menu.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.umk.register.menu.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.umk.register.menu.GradesListActivity" />
        <activity
            android:name="com.umk.register.app.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>